.ls {
  background: #001030;
  color: white;
  height: 75vh;
  position:static;
  overflow-y: scroll;
}

.lsTop {
  padding: 20px;
}

.lsNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lsNav .logo {
  max-width: 140px;
}

.lsNav .menu {
  max-height: 20px;
  padding: 10px 0; 
  background-color: #9f9f9f;
}

.lsSearch {
  background-color: #002670;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-top: 20px;
}

.lsSearch input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.lsSearch input::placeholder {
  color: #c8c8c8;
}

.lsList {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  
  
}

.friends img {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.friends {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 13px;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends span {
  color: #9f9f9f;
  font-size: 11px;
}

.friends:hover {
  background-color: #077EFF;
}

.friends:hover span {
  color: white;
}

.subMenu{
  position: absolute;
  top:20%;
  left: 25%;
  background-color: white;
  color:black;
  border-radius: 10px 0px 10px 10px;
  font-size: 14px;
}
.subMenu p{
  padding: 2px 10px;
  padding-bottom: 7px;
}
.subMenu p:hover{
  background-color:  #077EFF;
  color: white;
  cursor: pointer;
  
}
.subMenu hr{
  border:none;
}
.border img{
  border: 3px solid #07fff3;
}
.border div span{
  color: #07fff3;
}

@media(max-width:900px){
  .ls{
    width: 100%;
  }
  .hidden{
    display: none;
  }
  .subMenu{
    position: absolute;
    right: 12%;
    left: 60%;
  }
}